html {height:100%;}

body {
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:'Roboto';
}

form {
  margin-top:-9em;
}

.lbl {
  display:block;
  padding-bottom:1em;
}